@import "tailwindcss";
/* Poppins font */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); */

/* Line clamp utilities */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@theme {
  --font-roboto : "Roboto", sans-serif;
  --color-iriseColor : #F24405
}
 * {
    font-family: var(--font-roboto);
  }
html, body {
  @apply scroll-smooth;
  overflow-x: hidden;
  max-width: 100vw;
}
  @layer base {
    .primaryBtn {
      @apply px-20 py-3 pl-7   rounded-4xl flex relative items-center  transition-all duration-300 ease-in-out hover:scale-110
    }
    .primaryBtnArrayIcon {
      @apply w-10 h-10   group-hover:border-2  absolute right-2 rounded-full flex items-center  text-[25px] justify-center
    }
    
    .ScrollEvents{
      display: flex;
    animation: scrollevent 20s linear infinite;
    } 
    @keyframes scrollevent {
        0%
        {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      .animate-scroll {
        display: flex;
        animation: scroll 20s linear infinite;
      }

      @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); } /* scroll half the container for seamless loop */
      }

  }
